<div class="container">
  <form [formGroup]="returnForm" (ngSubmit)="loadOrders()">
    <div class="mb-3">
      <label for="search" class="form-label">Buscar Pedido</label>
      <input formControlName="search" type="text" class="form-control" id="search" placeholder="ID, NR, Cliente, Prioridade..." />
    </div>
    <button type="submit" class="btn btn-primary">Buscar</button>
  </form>

  <div *ngIf="orders.length > 0">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">NR</th>
          <th scope="col">Cliente</th>
          <th scope="col">Prioridade</th>
          <th scope="col">DataHora</th>
          <th scope="col">Status</th>
          <th scope="col">Entregador</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <td>{{ order.id }}</td>
          <td>{{ order.nr }}</td>
          <td>{{ order.cliente }}</td>
          <td [style.color]="getPriorityColor(order.prioridade)">
            {{ order.prioridade }}
          </td>
          <td>{{ order.dataH | date: 'dd/MM HH:mm' }}</td>
          <td>{{ order.status }}</td>
          <td>{{ order.entregador }}</td>
          <td>
            <button class="btn btn-info" (click)="openOrderDetails(order)">
              Detalhes
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Modal de Detalhes do Pedido -->
<div class="modal-backdrop" *ngIf="selectedOrder" (click)="closeOrderDetails()"></div>
  <div class="modal show" *ngIf="selectedOrder" style="display: block;" aria-modal="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Detalhes do Pedido</h5>
        </div>
        <div class="modal-body">
          <form [formGroup]="editOrderForm" (ngSubmit)="updateOrder()">
            <div class="mb-3">
              <label for="nr" class="form-label">NR</label>
              <input formControlName="nr" type="text" class="form-control" id="nr" />
            </div>
            <div class="mb-3">
              <label for="cliente" class="form-label">Cliente</label>
              <input formControlName="cliente" type="text" class="form-control" id="cliente" />
            </div>
            <div class="mb-3">
              <label for="prioridade" class="form-label">Prioridade</label>
              <input formControlName="prioridade" type="text" class="form-control" id="prioridade" />
            </div>
            <div class="mb-3">
              <label for="status" class="form-label">Status</label>
              <input formControlName="status" type="number" class="form-control" id="status" />
            </div>
            <div class="mb-3">
              <label for="entregador" class="form-label">Entregador</label>
              <input formControlName="entregador" type="text" class="form-control" id="entregador" />
            </div>
            <div class="mb-3">
              <label for="observacao" class="form-label">Observações</label>
              <textarea formControlName="observacao" class="form-control" id="observacao"></textarea>
            </div>
            <button type="submit" class="btn btn-primary me-2">Salvar</button>
            <button type="button" class="btn btn-secondary ml-10" (click)="closeOrderDetails()">Cancelar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
