<!-- DeliveryComponent HTML -->

<div class="container d-flex">
  <!-- Botão de Confirmar Pedido -->
  <button (click)="preConfirmDelivery()" class="btn btn-primary ms-auto">
    Confirmar Pedido
  </button>
</div>
  <!-- Tabela de Pedidos -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Selecionar</th>
        <th scope="col">Id</th>
        <th scope="col">NR</th>
        <th scope="col">Cliente</th>
        <th scope="col">Prioridade</th>
        <th scope="col">DataHora</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td>
          <input
            type="checkbox"
            (change)="onOrderSelectionChange(order, $event)"
          />
        </td>
        <td>{{ order.id }}</td>
        <td>{{ order.nr }}</td>
        <td>{{ order.cliente }}</td>
        <td [style.color]="getPriorityColor(order.prioridade)">
          {{ order.prioridade }}
        </td>
        <td>{{ order.dataH | date: 'dd/MM HH:mm'  }}</td>
      </tr>
    </tbody>
  </table>

  <!-- Modal de Entrega -->
<div
  class="modal fade"
  id="deliveryModal"
  tabindex="-1"
  aria-labelledby="deliveryModalLabel"
  aria-hidden="true"
  #deliveryModal
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deliveryModalLabel">Detalhes da Entrega</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="deliveryForm">
          <h5>Pedidos Selecionados:</h5>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">NR</th>
        <th scope="col">Cliente</th>
        <th scope="col">Prioridade</th>
        <th scope="col">Data/Hora</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of selectedOrders">
        <td>{{ order.id }}</td>
        <td>{{ order.nr }}</td>
        <td>{{ order.cliente }}</td>
           <td [style.color]="getPriorityColor(order.prioridade)">
          {{ order.prioridade }}
        </td>
        <td>{{ order.dataH | date: 'dd/MM HH:mm' }}</td>
      </tr>
    </tbody>
  </table>
          <div class="mb-3">
            <label for="deliveryPerson" class="form-label">Entregador</label>
            <input
              formControlName="deliveryPerson"
              type="text"
              class="form-control"
              id="deliveryPerson"
            />
          </div>
          <div class="mb-3">
            <label for="notes" class="form-label">Observações</label>
            <textarea
              formControlName="notes"
              class="form-control"
              id="notes"
            ></textarea>
          </div>
          <div class="mb-3">
            <label for="deliveryType" class="form-label">Tipo de Entrega</label>
            <select
              formControlName="deliveryType"
              class="form-select"
              id="deliveryType"
            >
              <option value="3">Sair para Entrega</option>
              <option value="4">Retirada</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >
          Fechar
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="confirmDelivery()"
        >
          Confirmar Entrega
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal de Agradecimento -->
<div
  class="modal fade"
  id="thankYouModal"
  tabindex="-1"
  aria-labelledby="thankYouModalLabel"
  aria-hidden="true"
  #thankYouModal
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="thankYouModalLabel">Obrigado!</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>O pedido foi confirmado com sucesso!</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          (click)="closeThankYouModal()"
        >
          Fechar
        </button>
      </div>
    </div>
  </div>
</div>

